@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Task {
    font-family: 'Roboto', sans-serif;
    font-size: 120px;
    display: flex;
    align-items: center;
}

.Task-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20px;
}

.Task input {
    border-color: rgba(0, 0, 0, .39);
    border-radius: 35px;
    background: rgba(196, 196, 196, .26);
    width: 150px;
    height: 118px;
    font-size: 90px;
    box-sizing: border-box;
    padding: 20px;
    margin-left: 20px;
}

.Task .Task_input_correct {
    background: rgba(73, 255, 80, .26);
    border-color: rgba(134, 171, 136, .39);
    color: #028D3A;
}

.Task .Task_input_wrong {
    background: rgba(255, 109, 111, 0.26);
    border-color: rgba(134, 171, 136, .39);
    color: #8d0b27;
}

.Task_button {
    background: rgba(251, 138, 56, .91);
    border-radius: 60px;
    font-size: 24px;
    border: 0;
    color: #fff;
    padding: 24px 190px;
    margin-top: 40px;
    cursor: pointer;
}
