
table.MultiplicationTable {
    border-collapse: collapse;
    margin: 25px;
}

.MultiplicationTable td, .MultiplicationTable th {
    border: 1px solid #999;
    padding: 0.5rem;
    min-width: 20px;
    text-align: center;
}

.active {
    background: rgba(251, 138, 56, .91);
}

